<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<!-- Can't view Edit page until we have trainers unless you just pull the HTML to design it -WCSW -->
<!-- You can change all of this once you get the trainer part figured out i just wanted to have a starting point -WCSW -->

<body>
<h1>Edit Page</h1> 
 <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/dashboard"> <b>Dashboard</b> </a></li>
 <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/user/logout"> <b>Logout</b> </a></li>   
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <p>{{message}}</p>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <form action="/trainers/edit/process/{{trainer.id}}" method="post">
    <div>
        <p><label for="">?????</label></p>
        <p><input type="text" name="????" id="????" value="????"></p>
    </div>
    <div>
        <p><label for="">?????</label></p>
        <p><textarea name="??????" id="????"></textarea></p>
    </div>
    <div>
        <p><label for="photo">!!Upload post picture!!</label></p>
        <p> <input type="file" name="photo" id="photo" value="submit" accept=".jpg">
        </p>
    </div>
    <button type="submit">submit</button>
</form>
</body>
</html>